// @import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-section {
  height: 14vh;
  color: white;
  background-color: #333333;
}
.body-section {
  height: 86vh;
}
.App-header {
  background-color: #374147;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-blue-theme{
  background-color: #C7D4ED;
}
.bg-violet{
  background-color: #222A35;
}

.bg-blue-secondary{
  background-color: #4C5F78;
}
.text-dark-blue-theme{
  color: #4C5F78;
}
.bg-blue-light{
  background-color: #DEEBF7;
}

.btn-callnext-disabled{
  background-color: #7F7F7F;
  color: #dddddd;
}