.orders-wrapper-main {
    height: calc(100vh - 56px);
    margin-top: 10px;
    .order-card-wrap-main {
        cursor: pointer;
        background: white;
        box-shadow: 0px 0px 6px 1px #b9b7b7;
        padding: 10px;
        margin: 12px;
        border-radius: 12px;
        max-width: 100%;
        .order-status-main {
            text-align: end;
            color: green;
        }
        .order-items-container-main {
            .item-wrap-main {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                min-height: 40px;
            }
        }
    }
}
.orders-wrapper-header {
    height: 15vh;
    margin-top: 56px;
    .order-card-wrap-header {
        cursor: pointer;
        background:aquamarine ;
        box-shadow: 0px 0px 6px 1px #b9b7b7;
        padding: 10px;
        max-width: 100%;
        font-weight: 800;
        position: fixed;
        width : 100%;
        .order-items-container-header {
            .item-wrap-header {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
            }
        }
    } 
}
@media screen and (min-width: 720px) {
    .orders-wrapper-header {
      height: 8vh;
    }
  }
