.order-detail-container {
    height: calc(100vh - 56px);
    margin-top: 66px;
    .order-head {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .order-status {
            color: green;
        }
    }
    .item-wrap {
        padding: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }
    .order-button-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        grid-gap: 10px;
        .at-store-btn {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 16px;
        }
    }
}