.attendant-container {
    height: calc(100vh - 56px);
    margin-top: 66px;
    .attendant-mark-status-wrap {
        display: grid;
        gap: 40px;
        padding: 10px;
        .order-detail-btn {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 20px;
        }
    }
}