$themes: (
  default: (
    primary: #333333,
    secondary:Black,
    primary-dark: black,
    primary-light: #666464,
    text-primary: white,
    text-alternate: black,
    error: red,
    disabled: #ADADAD
  ),
  Falabella: (
    primary: rgb(116, 183, 0),
    secondary:rgb(116, 183, 0),
    primary-dark: rgb(48, 75, 1),
    primary-light: rgb(239, 241, 234),
    text-primary: white,
    text-alternate: #333333,
    error: red,
    disabled: #ADADAD
  ),
  Sodimac: (
    primary: #0072CE,
    secondary:#DD0021,
    primary-dark: #044CC3,
    primary-light: rgb(184, 218, 247),
    text-primary: white,
    text-alternate: #333333,
    error: red,
    disabled: #ADADAD
  )
);
