.home-wrapper {
    height: 100vh;
    position: relative;
    .home-button-wrap {
        background: white;
        box-shadow: 0px -2px 5px 2px #e7e7e7;
        bottom: 0;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .home-button {
            margin: 6px;
            height: 40px;
            width:90%;
        }
    }
    .home-image-class{
        background: white;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        top: 15vh;
    }
    .homeImage{
        height: 100%;
        width:30%;
    }
    @media screen and (max-width: 720px) {
        .homeImage{
            width: 80%;
            height: 80%;
        }
      }
}