.detail-wrap {
    .order-head {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .order-status {
            color: black;
            font-size: 18px;
        }
        background-color: aquamarine;
    }
    .item-wrap {
        padding: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }
    .picup-buttons{
        width: 100%;
    }
    .confirmedClass{
        color: green;
    }
}