.avaliableslots {
  display: inline-block;
  width: 40%;
  margin: 5%;
  background-color: #198754;
}
.unavaliableslots {
  display: inline-block;
  width: 40%;
  margin: 5%;
  background-color: grey !important;
}
@media screen and (max-width: 600px) {
  .avaliable-slots {
    margin: 5%;
  }
  .avaliable-slots-title {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 25%;
  }
}
@media screen and (min-width: 600px) {
  .avaliable-slots {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
  }
  .avaliable-slots-title {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 35%;
  }
}

.slots-box {
  border: 1px solid;
}
