.store-detail {
  margin-top: 50px;
  text-align: center;
  h1 {
    color: green;
    font-size: 20px;
  }
  h2 {
    color: blue;
    font-size: 15px;
  }
}

.qr-code-container {
  margin-top: 30px;
  text-align: center;
}

.instructions {
  margin-top: 30px;
  text-align: center;
  .bold_text {
    font-weight: bold;
    font-size: 16px;
    background-color: aliceblue;
  }
}

.finishButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 50%;
}

.downloadButton {
  background-color: #4c53af; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.finish-button-container {
  padding-top: 22px;
  text-align: center;
  background-color: aliceblue;
}

.download-button-container {
  margin-top: 15px;
  text-align: center;
}

.wrapper {
  height: calc(100vh - 56px);
  margin-top: 66px;
}