.order-details-section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 4vh;
}
.order-details-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.order-details-subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.order-details-message {
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
}
.store-list {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .store-dropdown-menu {
    margin: 10px;
  }
  .react-datepicker-wrapper {
    margin-left: 5%;
  }
  input {
    width: 180%;
    height: 40px;
  }
  #dropdown-basic {
    width: 90%;
    height: 50px;
  }
  .dropdown-menu.show {
    display: block;
    width: 90%;
  }
}
@media screen and (min-width: 600px) {
  .store-dropdown-menu {
    width: 30%;
    margin: 10px;
  }
  .react-datepicker-wrapper {
    margin-left: 25%;
  }
  input {
    width: 410%;
    height: 40px;
  }
  #dropdown-basic {
    width: 50%;
    height: 50px;
  }
  .dropdown-menu.show {
    display: block;
    width: 50%;
  }
}
.orders-wrapper {
  height: calc(100vh - 56px);
  margin-top: 66px;
}
.dropdown,
.dropend,
.dropstart,
.dropup {
  position: unset;
}
.react-datepicker__input-container {
  position: unset !important;
}
.list-group-item {
  position: unset !important;
}
