.login-wrapper {
    height: calc(100vh - 56px);
    margin-top: 66px;
    .form-wrapper {
        padding: 10px;
        .login-btn {
            text-align: center;
            button {
                width: 50%;
            }
            button::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border: 4px solid transparent;
                border-top-color: #ffffff;
                border-radius: 50%;
                animation: button-loading-spinner 1s ease infinite;
            }
        }
    }
}