.service-attendant-wrapper {
    height: calc(100vh - 56px);
    margin-top: 66px;
    .head-container {
        padding: 10px;
        .head-wrap {
            display: flex;
            font-size: 18px;
            label {
                font-weight: 600;
                white-space: nowrap;
            }
        }
    }
    .content-wrap {
        display: grid;
        padding: 20px;
        .scan-button {
            padding: 30px;
        }
        .upcoming-pickups-wrap {
            margin: 10px;
            .pickups-head {
                font-weight: 600;
                font-size: 22px;
            }
            .pickups-list {
                margin-top: 6px;
                .booking-details-wrap {
                    border: 1px solid #e3e3e3;
                    border-radius: 4px;
                    font-size: 16px;
                    padding: 10px;
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr 1fr;
                    .booking-head {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}