.confirmButton {
  text-align: center;
  margin-top: 10%;
}

@media screen and (max-width: 600px) {
  .confirm-button {
    width: 90%;
    height: 45px;
  }
}
@media screen and (min-width: 600px) {
  .confirm-button {
    width: 50%;
    height: 45px;
  }
}
